<ul >
  {{#events}}
    <style>
        body {background-color: rgb(220, 217, 217);}
        h1   {color:rgb(5, 5, 6);
              font-family: verdana;
              font-size: 200%;
              font-weight: bold;}
        h2   {color: rgb(40, 8, 145);
              font-family: verdana;
              font-size: 120%;
              font-weight: bold;}
        p    {color: rgb(82, 13, 13);
              font-family: verdana;
              font-size: 90%;
              font-weight: bold;}
     </style>
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>Location: {{ location }}</p>
        <p>Likes: {{ likes }}
        <form method="POST" action="/event/like">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Like">
        </form>
        <form method="POST" action="/event/unlike">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="UN-Like">
        </form>
        </p>
    </li>
  {{/events}}
</ul>